.container
  width: 1300px

.navbar-header
  line-height: auto
  height: auto
  display: table
  width: 100%
  height: auto
  a
    text-decoration: none
    color: #ffffff
    font-weight: bold
    margin-right: 15px
    hover
      text-decoration: none

.navbar-brand
  height: auto


.phoneTopHeader
  background: url("../img/phone.png") no-repeat left 15px
  color: #fff // text color
  font-family: "GothamPro"
  font-size: 22px
  font-weight: bold
  padding-left: 25px
  line-height: 20px
  padding-left: 25px
  text-align: center
  padding-top: 10px
  display: inline
  small
    font-size: 10px



.headerTopContacts
  float: right

  .headerTopMenu
    display: inline-block
    color: #ffffff
    li
      display: inline
      list-style: none
      color: #ffffff
      a
      text-decoration: none
      color: #ffffff
      hover
        text-decoration: none
  .headerTopSoc
    display: inline-block
    li
      display: inline-block




