body
  font-family: Calibri

html, body
  min-width: 1300px

.container
  width: 1300px

h1
  font-weight: 300

.navbar-header
  line-height: auto
  height: auto
  display: table
  width: 100%
  height: auto
  a
    text-decoration: none
    color: #ffffff
    font-weight: bold
    margin-right: 15px
  a:hover
    text-decoration: none

.navbar-brand
  height: auto


.phoneTopHeader
  background: url("../img/phone.png") no-repeat left 15px
  color: #fff // text color
  font-size: 22px
  font-weight: bold
  padding-left: 25px
  line-height: 20px
  padding-left: 25px
  text-align: center
  padding-top: 10px
  display: inline
  small
    font-size: 10px
    padding-left: 18px

.headerTopMenuUl
  display: table-cell
  vertical-align: middle

.headerTopMenu
  display: inline-block
  color: #ffffff
  li
    display: inline
    list-style: none
    color: #ffffff
    a
    text-decoration: none
    color: #ffffff
    a:hover
      text-decoration: none
      color: #42b9e0



.headerTopContacts
  float: right
  padding: 40px 0 20px
  height: 120px
  display: table

  .headerTopSoc
    display: inline-block
    margin-bottom: 0
    vertical-align: middle
    li
      display: inline-block
      a
        i
          width: 24px
          height: 24px
          padding: 24px 24px 0 0
          display: inline-block

        i.vk
          background: url("../img/Layer-42.png") no-repeat
        i.vk:hover
          background: url("../img/vkHover.png") no-repeat
          background-size: cover
        i.inst
          background: url("../img/Layer-44.png") no-repeat
        i.inst:hover
          background: url("../img/instaHover.png") no-repeat
          background-size: cover

.headerPageContacts
  .phoneTopHeader
    color: #000
    background: url("../img/phone-1.png") no-repeat left 15px
  .headerTopMenuUl
    .headerTopMenu
      color: #000000
      li
        color: #000000
        a
          color: #000000
        a:hover
          color: #abd8e7
    .headerTopSoc
      li
        a
          i.vk
            background: url("../img/Layer-42-bl.png") no-repeat
          i.vk:hover
            background: url("../img/vkHover.png") no-repeat
            background-size: cover
          i.inst
            background: url("../img/Layer-44-bl.png") no-repeat
          i.inst:hover
            background: url("../img/instaHover.png") no-repeat
            background-size: cover


.navbar-header-scroll
  .logo
    i
      display: block
      width:  229px
      height: 90px
      background: url("../img/logo-1.png")

.main_mScrole
  background: #ffffff
  padding-top: 10px
  padding-bottom: 10px
  border-top: 2px solid #000
  -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out
  -moz-transition: background .5s ease-in-out,padding .5s ease-in-out
  transition: background .5s ease-in-out,padding .5s ease-in-out
  li
    border-left: 1px solid #000000
    a
      color: #000000
      outline: none

.intro h1, .introNews h1
  color: #131313 // text color
  font-family: Calibri
  font-size: 57px
  text-align: left
  font-weight: 300
  span
    background: rgba(255,255,255,.75)
    font-family: Calibri
    padding: 0 20px
    .changed
      color: #00c2f0
      background: rgba(255,255,255,0)



.top-nav-collapse
  background: #ffffff
  padding: 0

.main_m
  border-top: 2px solid #ffffff
  padding-top: 10px
  margin-bottom: 0

.intro, .introNews
  position: relative
  .navigBot
    position: absolute
    z-index: 140
    bottom: 0
    left: 0
    width: 100%
    min-width: 1300px
    height: 50px
    border-top: 2px solid #ffffff
    padding-top: 10px
    .main_m
      margin: 0 auto

.logo
  i
    display: block
    width:  229px
    height: 90px
    background: url("../img/logo.png")


a.calcBut
  display: inline-block
  font-family: Calibri
  font-size: 20px
  font-weight: 500
  line-height: 61px
  width: 245px
  height: 61px
  text-transform: uppercase
  color: #fff
  text-decoration: none
  margin-top: 80px
  background-color: #00c1ef

.calcBut:hover
  text-decoration: none
  background-color: #2da0c6

.calcBut:active
  color: #abd8e7 /* text color */
  background-color: #2da0c6

.butArrow
  display: block
  width: 27px
  height: 13px
  background-image: url("../img/toBot.png")

.butArrow:hover
  background-image: url("../img/Hover.png")

.butArrow:active
  background-image: url("../img/toBotAc.png")

.menu_m li a:hover, .menu_m li a:active
  color: #abd8e7 /* text color */

.underH
  height: 2px
  width: 90px
  margin: 35px
  background-color: #393b41 // layer fill content + color overlay
  margin: 35px auto

.Line2
  padding: 50px 0
  color: #393b41
  p
    text-align: center
    font-size: 20px

.blockTitle
  font-size: 32px
  text-transform: uppercase
  text-align: center
  color: #393b41

.servAuto
  background: url("../img/auto1.png") no-repeat
  height: 316px
  width: 523px
  margin: 20px auto
  display: table
  padding: 0 8%
  a
    text-decoration: none
    display: table-cell
    vertical-align: middle
    h2
      
      font-size: 36px
      text-align: center
      text-transform: uppercase
      color: #ffffff
    h2:hover
      color: #42b9e0



.servJD
  background: url("../img/auto2.png") no-repeat
  height: 316px
  width: 523px
  margin: 20px auto
  display: table
  padding: 0 8%
  a
    text-decoration: none
    display: table-cell
    vertical-align: middle
    h2
      
      font-size: 36px
      text-align: center
      text-transform: uppercase
      color: #ffffff
    h2:hover
      color: #42b9e0

.servSea
  background: url("../img/auto3.png") no-repeat
  height: 316px
  width: 523px
  margin: 20px auto
  display: table
  padding: 0 8%
  a
    text-decoration: none
    display: table-cell
    vertical-align: middle
    h2      
      font-size: 36px
      text-align: center
      text-transform: uppercase
      color: #ffffff
    h2:hover
      color: #42b9e0


.servAvio
  background: url("../img/auto4.png") no-repeat
  height: 316px
  width: 523px
  margin: 20px auto
  display: table
  padding: 0 2%
  a
    text-decoration: none
    display: table-cell
    vertical-align: middle
    h2      
      font-size: 36px
      text-align: center
      text-transform: uppercase
      color: #ffffff
    h2:hover
      color: #42b9e0

.toGallery
  display: block
  margin: 30px auto
  width: 189px
  height: 57px
  border-radius: 28px 28px 29px 29px
  background-clip: padding-box
  background-color: #4dc1ef
  font-size: 13px
  font-weight: bold
  color: #fff
  text-transform: uppercase
  text-decoration: none
  text-align: center
  outline: none
  padding: 20px

.toGallery:hover
  text-decoration: none
  color: #ffffff
  background-color: #2da0c6

.toGallery:active
  text-decoration: none
  color: #abd8e7
  background-color: #2da0c6

.Line3
  padding: 20px 0
  background-color: #f7f7f7
  p
    color: #393b41
    font-size: 20px
    text-align: center
    padding-bottom: 40px
  img
    margin: 15px auto
    display: block

.infoGraf
  p
    text-align: center
    font-size: 16px
    color: #3a3c42
    margin-bottom: 0
    b
      font-size: 24px

.Line4
  background: url(../img/Layer-57.jpg) no-repeat top center scroll
  -webkit-background-size: cover
  -moz-background-size: cover
  background-size: cover
  -o-background-size: cover
  padding: 100px 0
  text-align: center
  color: #f7f7f7
  h3
    font-size: 30px
  p
    font-size: 16px
  h4
    font-size: 18px


.indexComent
  display: block
  text-align: center
  color: #f7f7f7
  width: 55%
  margin: 25px auto
  p
    font-size: 18px


.userIconCirc
  background: url("../img/copy.png") no-repeat center center
  width: 40%
  margin: 0 auto
  display: block

  img
    border-radius: 50%
    width: 130px
    height: 130px
    margin: 0 auto
    display: block


.Line5
  padding: 20px 0 50px
  p
    color: #393b41
    font-size: 20px
    text-align: center


.contactInfo
  width: 60%
  margin: 25px auto
  display: block
  span
    color: #393b41
    font-size: 18px
    border-left: 1px solid #393b41
    padding: 2px 0 2px 20px
  .contactCity
    background: url("../img/1434662297_icon-person.png") 0% 50% no-repeat
    padding-left: 40px
    margin: 25px 0
  .contactStreet
    background: url("../img/locat.png") 5px 50% no-repeat
    padding-left: 40px
    margin: 25px 0
  .contactPhone
    background: url("../img/phoneContact.png") 0 50% no-repeat
    padding-left: 40px
    margin: 25px 0
  .contactMail
    background: url("../img/mail.png") 0 50% no-repeat
    padding-left: 40px
    margin: 25px 0

.calcInput
  width: 70%
  float: left
  border: 2px solid #ececec
  border-radius: 5px
  background-clip: padding-box
  background-color: #fff
  margin: 10px 0
  font-size: 16px
  padding: 10px

.calcSubmit
  margin-top: 20px
  display: inline-block
  border-radius: 28px 28px 29px 29px
  background-clip: padding-box
  background-color: #4dc1ef
  font-size: 13px
  font-weight: bold
  color: #fff
  text-transform: uppercase
  text-decoration: none
  text-align: center
  padding: 20px
  outline: none
  position: absolute
  bottom: 0
  right: 40px
  border: none
  text-decoration: none
  outline: none
.calcSubmit:hover
  text-decoration: none
  outline: none
  color: #fff
.calcSubmit:focus
  text-decoration: none
  outline: none
  color: #fff

.calcContactForm
  width: 85%
  margin: 0 auto

div.wpcf7-validation-errors
  border: none
  color: #000000

.Line6
  height: 624px

footer
  background-color: #323844
  height: 224px
  padding: 50px 0
  display: block
  .footMenu
    display: inline-table
    list-style: none
    vertical-align: top
    margin: 15px 0 0 30px
    li
      margin: 15px 0
      a
        color: #ffffff
        text-transform: uppercase
        text-decoration: none
        font-size: 14px
        font-weight: bold
      a:hover
        color: #41b8df
      a:focus
        outline: none
        text-decoration: none


.footLogo
  background-image: url(../img/DITLOGISTIC.png)
  width: 209px
  height: 80px
  display: inline-block

.footSoc
  display: inline-table
  color: #fff
  list-style: none
  vertical-align: top
  margin: 15px 0 0 30px
  li
    display: inline-block
    a
      i
        width: 24px
        height: 24px
        padding: 24px 24px 0 0
        display: inline-block
        margin-right: 15px

      i.vk
        background: url("../img/Layer-42.png") no-repeat
      i.vk:hover
        background: url("../img/vkHover.png") no-repeat
        background-size: cover
      i.inst
        background: url("../img/Layer-44.png") no-repeat
      i.inst:hover
        background: url("../img/instaHover.png") no-repeat
        background-size: cover
  p
    color: #fff
    font-size: 14px
    font-weight: bold
    margin: 15px 0
    text-transform: uppercase
  a
    color: #ffffff
    font-size: 20px
    text-decoration: underline
  a:hover
    color: #41b8df

#serv
  position: absolute
  top: 85%
a#cont
  position: relative
  top: -150px!important

.modal-dialog
  background-color: #fff
  border-radius: 15px
  text-align: center
  color: #374157
  width: 500px
  padding: 15px 70px

  h1
    font-size: 30px
    text-transform: uppercase
.modal-header
  border-bottom: 0
  padding: 25px
  .close
    background-image: url("../img/Close.png")
    width: 50px
    height: 50px
    margin: -60px -110px 0 0
    opacity: 1
    outline: none
  .close:hover
    background-image: url("../img/Close_hover.png")
  p
    font-size: 14px
    color: #374157

.formPopup
  width: 100%
  border-radius: 22px
  height: 44px
  border: 0
  background: #f5f5f5
  background-clip: padding-box
  font-size: 18px
  color: #adadad
  padding: 20px 15px
  margin: 15px 0

.introNews
  h1
    text-align: center
    span
      text-align: center
      text-transform: uppercase